<!DOCTYPE html>
<html>
    <head>
        <title>Cayla's Webpage</title>
        <script>const refreshPage = () => location.reload()</script>       <!--this is JavaScript code, which can be placed in a <script> tag-->
    </head>
    <body>
        <h1>This is Cayla's Homepage!</h1>
        <p>Hello World! Again</p>
        <!--This is where your additional code goes comment goes-->
        <button onclick="refreshPage()" style="color: white; background-color:grey">See Changes</button>    <!--this button fires the function defined above-->

        <div>
            <p>This is a <code>p</code> tag within a div </p>
        </div>

        <h3>Foods I Love</h3>
        <ul>
            <li>Pomegranate</li>
            <li>Fish</li>
            <li>Italian Beef</li>
        </ul>

        <h3>Top 3 Favorite Movies</h3>
        <ol>
            <li>Napoleon Dynamite</li>
            <li>Pirates of the Caribbean - At World's End</li>
            <li>Happy Gilmore</li>
        </ol>

        <a href="https://alta3.com/" target="_blank">Alta3 Homepage</a>

        <div style="margin-top:30px;">
            <iframe width="560" height="315" src="https://www.youtube.com/embed/ShXwbZOApSk" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" allowfullscreen></iframe>
        </div>
    </body>
</html>